watch_file flake.nix \
    flake.lock
{
  # create gc root dir -> .direnv
  mkdir -p "$(direnv_layout_dir)"
  eval "$(nix print-dev-env ./devshell\#__default --no-update-lock-file --no-write-lock-file --profile $(direnv_layout_dir)/flake-profile)"
} || use nix
