play.http.secret.key="CortexTestPassword"
play.http.session.secure=true

docker.container.networkMode="__CORTEX_NEURON_NETWORK_MODE_PLACEHOLDER__"
auth.method.basic=true

search {
  index = cortex
  uri = "__ELASTICSEARCH_URI_PLACEHOLDER__"
}

## Cache
cache.job = 10 minutes

job {
  runner = [docker, process]
}

## ANALYZERS
analyzer {
  urls = [
    "/opt/cortex/analyzers/local-analyzers.json"
  ]
}

# RESPONDERS
responder {
  urls = []
}
