---
Checks: >
  *,
  -altera-*,
  -clang-analyzer-alpha*,
  -llvmlibc-*,
  -google-*,
  -fuchsia-*,
  -hicpp-*,
  -bugprone-lambda-function-name,
  -cert-err58-cpp,
  -cert-dcl16-c,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-union-access,
  -llvm-header-guard,
  -modernize-use-trailing-return-type,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-uppercase-literal-suffix,
  -dummy-must-be-last-entry-without-trailing-comma
WarningsAsErrors:      ''
HeaderFilterRegex:     '/vast/'
AnalyzeTemporaryDtors: false
CheckOptions:
  - key:             readability-implicit-bool-conversion.AllowPointerConditions
    value:           true
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           true
  - key:             readability-else-after-return.WarnOnConditionVariables
    value:           false
...
