---
Checks: >
  *,
  -abseil-*,
  -altera-*,
  -bugprone-lambda-function-name,
  -bugprone-easily-swappable-parameters,
  -bugprone-switch-missing-default-case,
  -cert-dcl16-c,
  -cert-err58-cpp,
  -clang-analyzer-alpha*,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-reference-coroutine-parameters,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-union-access,
  -fuchsia-*,
  -google-*,
  -hicpp-*,
  -llvm-header-guard,
  -llvmlibc-*,
  -misc-no-recursion,
  -modernize-use-nodiscard,
  -modernize-use-ranges,
  -readability-braces-around-statements,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-uppercase-literal-suffix,
  -dummy-must-be-last-entry-without-trailing-comma
WarningsAsErrors:      ''
HeaderFilterRegex:     '/tenzir/'
AnalyzeTemporaryDtors: false
CheckOptions:
  - key:             readability-implicit-bool-conversion.AllowPointerConditions
    value:           true
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           true
  - key:             cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value:           true
  - key:             cppcoreguidelines-avoid-do-while.IgnoreMacros
    value:           true
...
