*.md
*/*/.git*
.clangd/
/libtenzir/aux/*
!/libtenzir/aux/caf/
!/libtenzir/aux/fast_float/
!/libtenzir/aux/pfs/
!/libtenzir/aux/simdjson/
tenzir/integration/lib/bats
tenzir/integration/lib/bats-assert
tenzir/integration/lib/bats-support
CMakeUserPresets.json
build/
compile_commands.json
nix/
!README.md
!VERSIONING.md
cmake-build-*/
