*.md
*/*/.git*
.clangd/
.github/
/libtenzir/aux/*
!/libtenzir/aux/caf/
!/libtenzir/aux/fast_float/
!/libtenzir/aux/pfs/
!/libtenzir/aux/simdjson/
CMakeUserPresets.json
build/
compile_commands.json
nix/
!README.md
!VERSIONING.md
cmake-build-*/
