# This Docker Compose file is aimed at developers. See the bundled env.example
# file for setup instructions.
services:
  tenzir-node:
    image: ${TENZIR_IMAGE:-ghcr.io/tenzir/tenzir:${TENZIR_VERSION:-main}}
    build:
      target: tenzir
    environment:
      - TENZIR_PLATFORM_CONTROL_ENDPOINT=${TENZIR_PLATFORM_CONTROL_ENDPOINT:-}
      - TENZIR_TOKEN=${TENZIR_TOKEN:-}
      - TENZIR_ENDPOINT=tenzir-node:5158
      - TENZIR_TQL2=true
    ports:
      - 5158:5158
    entrypoint:
      - tenzir-node
    volumes:
      - tenzir-lib:/var/lib/tenzir/
      - tenzir-log:/var/log/tenzir/
    healthcheck:
      test: tenzir --connection-timeout=30s --connection-retry-delay=1s 'api /ping'
      interval: 30s
      retries: 1

  tenzir-api:
    image: ${TENZIR_IMAGE:-ghcr.io/tenzir/tenzir:${TENZIR_VERSION:-main}}
    build:
      target: tenzir
    depends_on:
      - tenzir-node
    environment:
      - TENZIR_ENDPOINT=tenzir-node:5158
    ports:
      - 5160:5160
    entrypoint:
      - tenzir-ctl
    command:
      - web
      - server
      - --mode=dev
      - --bind=0.0.0.0

  tenzir:
    image: ${TENZIR_IMAGE:-ghcr.io/tenzir/tenzir:${TENZIR_VERSION:-main}}
    build:
      target: tenzir
    profiles:
      - donotstart
    depends_on:
      - tenzir-node
    entrypoint:
      - tenzir
    environment:
      - TENZIR_ENDPOINT=tenzir-node:5158
      - TENZIR_TQL2=true

volumes:
  tenzir-lib:
    driver: local
  tenzir-log:
    driver: local
