# To get up and running with a local development setup, take the following
# steps:
# 1. Copy this file to .env.
# 2. In the copy, uncomment the below variables and fill out the three values
# 3. Run one of the following depending on your needs:
#    - `docker compose pull` followed by `docker compose up` to run the latest
#       main branch.
#    - `docker compose up --build` to build your local branch.
#TENZIR_PLATFORM_CONTROL_ENDPOINT=
#TENZIR_TOKEN=
# Uncomment one of the following to use a custom image for the platform. This is
# useful if you want to test a local build with changes from a particular
# branch or run a specific version.
#TENZIR_IMAGE=
#TENZIR_VERSION=
