# To get up and running with a local development setup, take the following
# steps:
# 1.  Copy this file to .env.
# 2.  In the copy, uncomment the below variables and fill out the three values
# 3a. Run `docker compose up` to run the latest main branch
# 3b. Run `docker compose up --build` to build your local branch
#TENZIR_PLUGINS__PLATFORM__CONTROL_ENDPOINT=
#TENZIR_PLUGINS__PLATFORM__API_KEY=
#TENZIR_PLUGINS__PLATFORM__TENANT_ID=
