/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00a4f1;
  --ifm-color-primary-dark: #0094d9;
  --ifm-color-primary-darker: #008bcd;
  --ifm-color-primary-darkest: #0073a9;
  --ifm-color-primary-light: #0ab1ff;
  --ifm-color-primary-lighter: #16b5ff;
  --ifm-color-primary-lightest: #3ac0ff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00a4f1;
  --ifm-color-primary-dark: #0094d9;
  --ifm-color-primary-darker: #008bcd;
  --ifm-color-primary-darkest: #0073a9;
  --ifm-color-primary-light: #0ab1ff;
  --ifm-color-primary-lighter: #16b5ff;
  --ifm-color-primary-lightest: #3ac0ff;
  --ifm-footer-background-color: var(--ifm-color-gray-900);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
