.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}
