[Unit]
Description=Tenzir Node
StartLimitIntervalSec=120
StartLimitBurst=2
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
Restart=always

# user + privileges
# We explicitly don't use DynamicUser because that can lead to recursive `chown`s.
# Doing that is pretty slow on some file systems (e.g., xfs).
User=tenzir
Group=tenzir
NoNewPrivileges=yes

# Directories
StateDirectory=tenzir
CacheDirectory=tenzir
LogsDirectory=tenzir

# capabilities
RestrictNamespaces=yes
RestrictAddressFamilies=
CapabilityBoundingSet=
AmbientCapabilities=
RestrictSUIDSGID=yes

# system access
ExecPaths=/opt/tenzir/libexec/tenzir-df-percent.sh
ProtectSystem=strict
ReadWritePaths=/tmp
PrivateTmp=no
# Allow read access to the home directory of the user so config files can be
# read. In theory the config directory may be outside of the home directory, but
# systemd has no mechanism to specify that.
ProtectHome=read-only
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes

SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM

# service specifics
TimeoutStopSec=600
WorkingDirectory=/var/lib/tenzir
# Setting paths here so they can be kept in sync with the access permissions
# easily. These values can still be overridden in the config files.
Environment="TENZIR_CACHE_DIRECTORY=/var/cache/tenzir"
Environment="TENZIR_DB_DIRECTORY=/var/lib/tenzir"
ExecStart=/opt/tenzir/bin/tenzir-node

[Install]
Alias=tenzir.service
WantedBy=multi-user.target
