# NOTE: Copy this file to .env in your current working directory for Docker
# Compose to pick it up automatically. Using a .env file is optional. The below
# values are defaulted in the Docker Compose files as well.

# The port at which VAST can be accessed outside of Docker Compose.
VAST_PORT=42000

# The Git revision of VAST to use when pulling VAST images from the registry.
# Run `git rev-parse HEAD` to get the current revision, or use the special tag
# `latest` to refer to the latest upstream revision.
VAST_VERSION=latest
