# - The configuration file is sourced from the directory where the Python script
#   is exectuted from.
# - The configurations are defaulted with the values specified in this example
#   file.
# - Configurations can also be provided through environment variables, e.g:
#   `python.console-verbosity` maps to VAST_PYTHON_CONSOLE_VERBOSITY

python:
  console-verbosity: "debug"
  file-verbosity: "quiet"
  log-file: "<current-dir>/python.log"
