[tool.poetry]
name = "tenzir"
version = "4.21.0"
description = "A security telemetry engine for detection and response"
authors = ["Tenzir <engineering@tenzir.com>"]
maintainers = ["Tenzir <engineering@tenzir.com>"]
license = "BSD-3-Clause"
readme = "README.md"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Plugins",
    "License :: OSI Approved :: BSD License",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: POSIX :: Linux",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "Topic :: Scientific/Engineering :: Interface Engine/Protocol Translator",
    "Topic :: Security",
    "Topic :: Software Development :: Object Brokering",
    "Topic :: System :: Distributed Computing",
]
homepage = "https://tenzir.com"
documentation = "https://tenzir.com/docs"
repository = "https://github.com/tenzir/tenzir"

[tool.poetry.dependencies]
python = "^3.9"
pyarrow = ">=11,<18"
dynaconf = "^3.2"

aiohttp = { version = "^3.8", optional = true }
numpy = { version = ">=1.24,<3.0", optional = true }
python-box = { version = "^7.0", optional = true }
pandas = { version = "^2.1.3", optional = true }

[tool.poetry.dev-dependencies]
pytest = "^8.3"
pytest-asyncio = "^0.24.0"

[tool.pytest.ini_options]
asyncio_mode = "auto" # required for async fixtures

[tool.poetry.extras]
module = ["numpy"]
operator = ["python-box", "pandas"]

[tool.mypy]
python_version = "3.10"
warn_unused_configs = true

[[tool.mypy.overrides]]
module = [
  "dynaconf",
  "pyarrow",
]
ignore_missing_imports = true

[tool.ruff.lint]
# See https://docs.astral.sh/ruff/rules/ for explanations.
#select = ["E2", "E4", "E7", "E9", "F", "B", "I", "Q", "W"]
select = ["ALL"]
ignore = ["FA", "D1"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
