/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 0 1rem 5rem 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselCard {
  display: flex;
  height: 100%;
}

@media (min-width: 801px) {
  .carouselCard {
    padding-right: 40px;
    padding-left: 40px;
  }

  .vastLogo {
    width: 400px;
  }
}

.carousel {
  margin: 0 auto;
  max-width: 90%;
  overflow: hidden;
  position: relative;
  margin-top: -3rem;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  z-index: 10;
  background-color: var(--ifm-color-carousel-bg);
  padding-top: 30px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heroBanner {
  background: linear-gradient(
    -45deg,
    #ee775250,
    #e73c7e50,
    #23a6d550,
    #23d5ab50
  );
  background-size: 200% 200%;

  animation: gradient 10s ease infinite;
  height: 50vh;
  margin-top: 0px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.blogDesc {
  max-width: 80%;
}

@media screen and (max-width: 996px) {
  .blogDesc {
    display: none;
  }
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
