# NOTE: Copy this file to .env in your current working directory for Docker
# Compose to pick it up automatically. Using a .env file is optional. The below
# values are defaulted in the Docker Compose files as well.

# See definition in $REPO_ROOT/docker/vast/env.example
VAST_CONTAINER_REGISTRY=docker.io
VAST_CONTAINER_REF=latest

# The port at which TheHive can be accessed outside of Docker Compose.
THEHIVE_PORT=9000

# The port at which Cortex can be accessed outside of Docker Compose.
CORTEX_PORT=9001

# App specific: the maximum number of alerts to load from history. 
# Negative value means no limit, 0 means no backfill.
BACKFILL_LIMIT=100
