# The container registry to pull Tenzir images from.
TENZIR_CONTAINER_REGISTRY=docker.io

# The Git revision of Tenzir to use when pulling Tenzir images from the registry.
# Run `git rev-parse HEAD` to get the current revision, or use the special tag
# `latest` to refer to the latest upstream revision.
TENZIR_CONTAINER_REF=latest

# The port at which Tenzir can be accessed outside of Docker Compose.
TENZIR_PORT=5158

# The port at which the Tenzir web interface can be accessed outside of Docker
# Compose.
TENZIR_WEB_PORT=5160
