# The container registry to pull VAST images from.
VAST_CONTAINER_REGISTRY=docker.io

# The Git revision of VAST to use when pulling VAST images from the registry.
# Run `git rev-parse HEAD` to get the current revision, or use the special tag
# `latest` to refer to the latest upstream revision.
VAST_CONTAINER_REF=latest

# The port at which VAST can be accessed outside of Docker Compose.
VAST_PORT=5158

# The port at which the VAST web interface can be accessed outside of Docker
# Compose.
VAST_WEB_PORT=42001
