name: Docker
on:
  push:
    branches:
      - main
      - v*
    paths:
      - "Dockerfile"
      - ".dockerignore"
      - "cmake/**"
      - "CMakeLists.txt"
      - "libtenzir/**"
      - "libtenzir_test/**"
      - "plugins/**"
      - "python/**"
      - "scripts/debian/**"
      - "version.json"
      - ".github/workflows/docker.yaml"
      - ".github/workflows/_docker.yaml"
      - ".github/workflows/docker-config-base.json"
  pull_request:
    paths:
      - "Dockerfile"
      - ".dockerignore"
      - "cmake/**"
      - "CMakeLists.txt"
      - "libtenzir/**"
      - "libtenzir_test/**"
      - "plugins/**"
      - "python/**"
      - "scripts/debian/**"
      - "version.json"
      - ".github/workflows/docker.yaml"
      - ".github/workflows/_docker.yaml"
      - ".github/workflows/docker-config-base.json"
  release:
    types:
      - published
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  configure:
    name: Configure
    runs-on: ubuntu-latest
    outputs:
      docker-config: ${{ steps.docker.outputs.docker-config }}
      container-ref: ${{ steps.configure.outputs.container-ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Fetch Tags
        run: git fetch origin +refs/tags/*:refs/tags/*
      - name: Inject Slug Variables
        uses: rlespinasse/github-slug-action@v5
      - name: Configure
        id: configure
        run: |
          # Set version numbers
          version="v$(jq -r '."tenzir-version"' version.json)"
          id_sha="${{ github.sha }}"
          release_version="${version}"
          echo "release-version=${release_version}" >> $GITHUB_OUTPUT

          # Compute version build metadata
          if [[ "$GITHUB_EVENT_NAME" == "release" ]]; then
            tenzir_docker_version_build_metadata=""
          else
            tenzir_docker_version_build_metadata="g${id_sha:0:10}"
            if [[ "$GITHUB_EVENT_NAME" == "pull_request" ]]; then
              tenzir_docker_version_build_metadata="pr${{ github.event.number }}"
            fi
          fi
          echo "tenzir-docker-version-build-metadata=${tenzir_docker_version_build_metadata}" >> $GITHUB_OUTPUT

          # Compute container reference
          if [[ "$GITHUB_EVENT_NAME" == "pull_request" ]]; then
            echo "container-ref=${GITHUB_HEAD_REF_SLUG}" >> $GITHUB_OUTPUT
          else
            echo "container-ref=${{ github.sha }}" >> $GITHUB_OUTPUT
          fi

          # Inject slug variables
          echo "head-ref-slug=${GITHUB_HEAD_REF_SLUG}" >> $GITHUB_OUTPUT

      - name: Configure Docker
        id: docker
        run: |
          if [[ "$GITHUB_EVENT_NAME" == "pull_request" ]]; then
            tags=("${{ steps.configure.outputs.head-ref-slug }}")
          elif [[ "$GITHUB_EVENT_NAME" == "push" ]]; then
            tags=('main' "${{ github.sha }}")
          elif [[ "$GITHUB_EVENT_NAME" == "release" ]]; then
            major_minor_patch='${{ steps.configure.outputs.release-version }}'
            major_minor=$(echo $major_minor_patch | sed 's/\(v[0-9]*\.[0-9]*\)\..*/\1/')
            major=$(echo $major_minor_patch | sed 's/\(v[0-9]*\)\..*/\1/')
            tags=('latest' "${{ github.sha }}" "${major_minor_patch}" "${major_minor}" "${major}")
          else
            echo "::error unexpected github.event_name: \"${GITHUB_EVENT_NAME}\""
            exit 1
          fi
          docker_config="$(jq -c \
            '."version-build-metadata" = $vs | ."tags" = $ARGS.positional' \
            .github/workflows/docker-config-base.json \
            --arg vs "${{ steps.configure.outputs.tenzir-docker-version-build-metadata }}" \
            --args -- "${tags[@]}")"
          # Clear push repos in case we're in a PR, but push the community
          # edition to ghcr.
          if [[ "$GITHUB_EVENT_NAME" == "pull_request" ]]; then
            docker_config="$(jq -c '(.editions[] | ."image-registries") |= [] |
              (.editions[] | select(.name == "tenzir" or .name == "tenzir-node") |
              ."image-registries") |= ["ghcr.io"]' \
              <<< "${docker_config}")"
          fi
          echo "docker-config=${docker_config}" >> $GITHUB_OUTPUT
          echo "::notice docker-config = ${docker_config}"

  build:
    name: Build
    needs: configure
    uses: ./.github/workflows/_docker.yaml
    with:
      config: ${{ needs.configure.outputs.docker-config }}
    secrets: inherit
