name: Tenzir Installer
on:
  workflow_dispatch:
  schedule:
    - cron: '20 2 * * *'  # everyday at 2:20

# IMPORTANT NOTE: The distros that are tested here were chosen to maximize test
# coverage of the installer script. That doesn't imply that we commit to support
# them. We might just comment out distros with failing checks from the matrix on
# an adhoc basis.

jobs:
  stock-linux:
    name: Provided linux runners
    strategy:
      fail-fast: false
      matrix:
        image: [ubuntu-20.04, ubuntu-22.04]
        tag: ["latest", "main"]
    runs-on: ${{ matrix.image }}
    env:
      TENZIR_PACKAGE_TAG: ${{ matrix.tag }}
    steps:
      - name: Run installer
        run: curl https://get.tenzir.app | sh
  # stock-macos:
  #   name: Provided MacOS runners
  #   strategy:
  #     matrix:
  #       image: [macos-12, macos-13]
  #   runs-on: ${{ matrix.image }}
  #   steps:
  #     - name: Run installer
  #       run: curl https://get.tenzir.app | sh
  container-debian-based:
    name: Debian based distros in containers
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image: ["ubuntu:22.04", "ubuntu:23.04", "ubuntu:23.10", "debian:11", "debian:12"]
        tag: ["latest", "main"]
    container:
      image: ${{ matrix.image }}
    env:
      TENZIR_PACKAGE_TAG: ${{ matrix.tag }}
    steps:
      - name: Setup dependencies
        run: apt update && apt install -y curl sudo adduser
      - name: Run installer
        run: curl https://get.tenzir.app | sh
  container-redhat-based:
    name: Red Hat based distros in containers
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image: ["fedora:37", "fedora:38", "fedora:39", "amazonlinux:2", "amazonlinux:2023"]
        tag: ["latest", "main"]
    container:
      image: ${{ matrix.image }}
    env:
      TENZIR_PACKAGE_TAG: ${{ matrix.tag }}
    steps:
      - name: Setup dependencies
        run: yum install -y tar sudo
      - name: Run installer
        run: curl https://get.tenzir.app | sh
