name: Nix
on:
  workflow_call:

jobs:
  build-linux:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: ubuntu-latest
            arch: x86_64
    uses: ./.github/workflows/nix-build-job.yaml
    with:
      runner: ${{ matrix.platform.runner }}
      os: linux
      arch: ${{ matrix.platform.arch }}
    secrets: inherit

  build-macos:
    uses: ./.github/workflows/nix-build-job.yaml
    with:
      runner: macos-15
      os: darwin
      arch: arm64
    secrets: inherit
