name: "Style Check"
on: pull_request
env:
  DEBIAN_FRONTEND: noninteractive
jobs:
  style:
    name: Style Check
    runs-on: ubuntu-20.04
    steps:

    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - uses: actions/setup-python@v2.2.2
      with:
        python-version: '3.9'

    - name: Clang Format
      run: |
        sudo apt-get -qq update
        sudo apt-get -qqy install clang-format
        git diff -U0 --no-color $(git merge-base origin/master HEAD) |
          scripts/clang-format-diff.py -p1

    - name: CMake Format
      run: |
        pip install --upgrade pip cmake_format
        git diff --name-only --no-color --diff-filter=ACM $(git merge-base origin/master HEAD) -- "**CMakeLists.txt" "**.cmake" |
          xargs cmake-format --in-place
        git diff --exit-code

    - name: Black
      run: |
        pip install --upgrade pip black
        # Note: black fails when it doesn't have to do anything.
        git diff --name-only --no-color --diff-filter=ACM $(git merge-base origin/master HEAD) |
          grep -v '\(\.json\|\.ipynb\|\.hpp\.in\|\.ref\|.example\)$' |
          2>/dev/null xargs black || true
        git diff --exit-code
