name: Update SBOM
on: workflow_dispatch

permissions:
  contents: read

jobs:
  sbom:
    name: Generate SBOM
    runs-on: ubuntu-latest
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@v30
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Cachix
        uses: cachix/cachix-action@v15
        with:
          name: tenzir
      - name: Checkout
        uses: actions/checkout@v4
      - name: Regenerate SBOM
        run: nix run .#generate-sbom -- /tmp/tenzir.spdx.json
      - name: Upload SBOM artifact
        uses: actions/upload-artifact@v4
        with:
          name: tenzir-sbom
          path: /tmp/tenzir.spdx.json
          if-no-files-found: error
