name: "VAST Docker"
on:
  pull_request:
    types: [opened, synchronize]
    paths:
    - Dockerfile
    - .github/workflows/vast-docker.yaml
    - .github/workflows/vast.yaml
    - '**.cmake'
    - '**CMakeLists.txt'
  release:
    types: published

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  docker:
    name: Build Docker Image
    runs-on: ubuntu-20.04
    env:
      DOCKER_BUILDKIT: 1
    steps:
    - name: Cancel Previous Runs
      if: github.event_name == 'pull_request'
      uses: styfle/cancel-workflow-action@0.9.0
      with:
        access_token: ${{ github.token }}

    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Fetch Submodules and Tags
      run: |
        auth_header="$(git config --local --get http.https://github.com/.extraheader)"
        git submodule sync --recursive
        git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive
        git fetch origin +refs/tags/*:refs/tags/*

    - name: Build Docker Image
      run: |
        docker build .
