# Build tooling
/env
/node_modules
/build
/.docusaurus
/.cache-loader
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*

# Quarto
**/*_cache/
**/*_files/
/.quarto/
.rlib

# Generated notebooks
/blog/parquet-and-feather-writing-security-telemetry/index.md
/docs/try/*.md

# Docs
/docs/contribute/code-of-conduct.md
/docs/contribute/coding-style.md
/docs/contribute/rfc.md
/docs/contribute/workflow.md
/docs/contribute/security.md

# Changlog
/src/pages/changelog.md
